{
  "openapi": "3.0.3",
  "info": {
    "title": "Proofy Api",
    "description": "Some text",
    "termsOfService": "https://proofy.io/terms",
    "contact": {
      "email": "support@proofy.io"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.proofy.io/v1"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Widget",
      "description": "Everything about JS Widget"
    },
    {
      "name": "Job",
      "description": "Everything about Jobs"
    },
    {
      "name": "Single Email",
      "description": "Single email check"
    },
    {
      "name": "Batch Emails",
      "description": "Batch emails check"
    }
  ],
  "paths": {
    "/verify/single": {
      "get": {
        "tags": [
          "Single Email"
        ],
        "description": "Verify a single email address",
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleCheckResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/HttpErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/HttpErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/HttpErrorResponse"
          },
          "422": {
            "$ref": "#/components/responses/HttpErrorResponse"
          },
          "429": {
            "$ref": "#/components/responses/HttpErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/HttpErrorResponse"
          }
        }
      }
    },
    "/verify/batch/create": {
      "post": {
        "tags": [
          "Batch Emails"
        ],
        "description": "Verify a batch email addresses",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/HttpErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/HttpErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/HttpErrorResponse"
          },
          "422": {
            "$ref": "#/components/responses/HttpErrorResponse"
          },
          "429": {
            "$ref": "#/components/responses/HttpErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/HttpErrorResponse"
          }
        }
      }
    },
    "/verify/batch/status": {
      "get": {
        "tags": [
          "Job"
        ],
        "description": "Check status of your request",
        "parameters": [
          {
            "name": "job_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchStatusResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/HttpErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/HttpErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/HttpErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/HttpErrorResponse"
          }
        }
      }
    },
    "/verify/batch/cancel": {
      "post": {
        "tags": [
          "Batch Emails"
        ],
        "description": "Cancel a request of batch",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchCancelRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchCancelResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/HttpErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/HttpErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/HttpErrorResponse"
          },
          "422": {
            "$ref": "#/components/responses/HttpErrorResponse"
          },
          "429": {
            "$ref": "#/components/responses/HttpErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/HttpErrorResponse"
          }
        }
      }
    },
    "/verify/batch/download": {
      "get": {
        "tags": [
          "Batch Emails"
        ],
        "parameters": [
          {
            "name": "job_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "download",
            "in": "query",
            "required": false,
            "description": "download emails by status, possible values: all, deliverable, risky, undeliverable, unknown",
            "schema": {
              "type": "string"
            }
          }
        ],
        "description": "Download the batch results as JSON",
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchStatusResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/HttpErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/HttpErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/HttpErrorResponse"
          },
          "422": {
            "$ref": "#/components/responses/HttpErrorResponse"
          },
          "429": {
            "$ref": "#/components/responses/HttpErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/HttpErrorResponse"
          }
        }
      }
    },
    "/verify/file/create": {
      "post": {
        "tags": [
          "Job"
        ],
        "description": "Create validation file",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JobCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobCreateResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/HttpErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/HttpErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/HttpErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/HttpErrorResponse"
          }
        }
      }
    },
    "/verify/file/status": {
      "get": {
        "tags": [
          "Job"
        ],
        "description": "Check validation file status",
        "parameters": [
          {
            "name": "job_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobStatusResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/HttpErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/HttpErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/HttpErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/HttpErrorResponse"
          }
        }
      }
    },
    "/verify/file/cancel": {
      "post": {
        "tags": [
          "Job"
        ],
        "description": "Delete file",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JobCancelRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobCancelResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/HttpErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/HttpErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/HttpErrorResponse"
          },
          "422": {
            "$ref": "#/components/responses/HttpErrorResponse"
          },
          "429": {
            "$ref": "#/components/responses/HttpErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/HttpErrorResponse"
          }
        }
      }
    },
    "/verify/file/download": {
      "get": {
        "tags": [
          "Job"
        ],
        "description": "Download validation file result",
        "parameters": [
          {
            "name": "job_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "download",
            "in": "query",
            "required": false,
            "description": "download file with emails by status, possible values: all, deliverable, risky, undeliverable, unknown",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobDownloadResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/HttpErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/HttpErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/HttpErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/HttpErrorResponse"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "BatchCreateRequest": {
        "type": "object",
        "properties": {
          "emails": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "BatchCreateResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "job_id": {
            "type": "string"
          }
        }
      },
      "BatchStatusResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "total": {
            "type": "object",
            "properties": {
              "records": {
                "type": "number"
              },
              "bad_syntax": {
                "type": "number"
              },
              "duplicates": {
                "type": "number"
              },
              "billable": {
                "type": "number"
              },
              "processed": {
                "type": "number"
              }
            }
          }
        }
      },
      "BatchDownloadResponse": {
        "type": "object",
        "properties": {
          "emails": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "JobCreateRequest": {
        "type": "object",
        "properties": {
          "file_url": {
            "type": "string"
          },
          "file_name": {
            "type": "string"
          }
        }
      },
      "JobCreateResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "job_id": {
            "type": "string"
          }
        }
      },
      "JobStatusResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "total": {
            "type": "object",
            "properties": {
              "records": {
                "type": "number"
              },
              "bad_syntax": {
                "type": "number"
              },
              "duplicates": {
                "type": "number"
              },
              "billable": {
                "type": "number"
              },
              "processed": {
                "type": "number"
              }
            }
          }
        }
      },
      "JobDownloadResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "url": {
            "type": "string"
          }
        }
      },
      "SingleCheckResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "object",
            "properties": {
              "syntax": {
                "type": "object"
              },
              "free": {
                "type": "boolean"
              },
              "roleAccount": {
                "type": "boolean"
              },
              "disposable": {
                "type": "boolean"
              },
              "mx": {
                "type": "object",
                "properties": {
                  "records": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "acceptsMail": {
                    "type": "boolean"
                  }
                }
              },
              "deliverability": {
                "type": "object",
                "properties": {
                  "canConnect": {
                    "type": "boolean"
                  },
                  "fullInbox": {
                    "type": "boolean"
                  },
                  "catchAll": {
                    "type": "boolean"
                  },
                  "deliverable": {
                    "type": "boolean"
                  },
                  "disabled": {
                    "type": "boolean"
                  }
                }
              },
              "reachable": {
                "type": "string"
              }
            }
          },
          "credits": {
            "type": "number"
          }
        }
      },
      "BatchRequest": {
        "type": "object",
        "properties": {
          "emails": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "BatchResponse": {
        "type": "object",
        "properties": {
          "emails": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "BatchCancelRequest": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          }
        }
      },
      "BatchCancelResponse": {
        "type": "object"
      },
      "JobCancelRequest": {
        "type": "object",
        "properties": {
          "id": {
            "type": "boolean"
          }
        }
      },
      "JobCancelResponse": {
        "type": "object"
      },
      "UnauthorizedResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          }
        }
      },
      "BadRequestResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          }
        }
      },
      "RateLimitErrorResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          }
        }
      },
      "ValidationErrorResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          }
        }
      },
      "InternalServerErrorResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          }
        }
      },
      "NotFoundResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          }
        }
      }
    },
    "responses": {
      "HttpErrorResponse": {
        "description": "Http Error Response",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "query",
        "name": "api_key"
      }
    }
  }
}
