{
  "openapi": "3.0.1",
  "info": {
    "title": "Proofy Api",
    "description": "Some text",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.proofy.io/v1"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/check/single": {
      "get": {
        "description": "Check a single email address",
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "description": "Email",
            "required": true     
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                   "$ref":"#/components/schemas/SingleCheckResponse"
                   }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/HttpErrorResponse"
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/HttpErrorResponse"
                }
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/HttpErrorResponse"
                }
              }
            }
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/HttpErrorResponse"
                }
              }
            }
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/HttpErrorResponse"
                }
              }
            }
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/HttpErrorResponse"
                }
              }
            }
          }
      }
    },
    "/check/batch": {
      "post": {
        "tags": "Batch Emails",
        "description": "Check a batch email address",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchResponse"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/HttpErrorResponse"
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/HttpErrorResponse"
                }
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/HttpErrorResponse"
                }
              }
            }
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/HttpErrorResponse"
                }
              }
            }
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/HttpErrorResponse"
                }
              }
            }
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/HttpErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/check/job/create": {
      "post": {
        "description": "Create validation job",
        "tags": "Job",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JobCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobCreateResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/HttpErrorResponse"
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/HttpErrorResponse"
                }
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/HttpErrorResponse"
                }
              }
            }
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/HttpErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/check/job/status": {
      "get": {
        "tags": "Job",
        "description": "Check validation job status",
        "parameters": [
          {
            "name": "job_id",
            "in": "query",
            "description": "ID of job to download",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobStatusResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/HttpErrorResponse"
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/HttpErrorResponse"
                }
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/HttpErrorResponse"
                }
              }
            }
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/HttpErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/check/job/download": {
      "get": {
        "tags": "Job",
        "description": "Download validation job result",
        "parameters": [
          {
            "name": "job_id",
            "in": "query",
            "description": "ID of job to download",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobDownloadResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/HttpErrorResponse"
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/HttpErrorResponse"
                }
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/HttpErrorResponse"
                }
              }
            }
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/HttpErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "JobCreateRequest": {
        "required": [],
        "type": "object",
        "properties": {
          "file_url": {
            "description": "",
            "type": "string"
          },
          "file_name": {
            "description": "",
            "type": "string"
          }
        }
      },
      "JobCreateResponse": {
        "type": "object",
        "properties": {
          "status": {
            "description": "",
            "type": "string"
          },
          "job_id": {
            "description": "",
            "type": "string"
          }
        }
      },
      "JobStatusResponse": {
        "type": "object",
        "properties": {
          "status": {
            "description": "",
            "type": "string"
          },
          "total": {
            "description": "",
            "type": "object",
            "properties": {
              "records": {
                "description": "",
                "type": "number"
              },
              "bad_syntax": {
                "description": "",
                "type": "number"
              },
              "duplicates": {
                "description": "",
                "type": "number"
              },
              "billable": {
                "description": "",
                "type": "number"
              },
              "processed": {
                "description": "",
                "type": "number"
              }
            }
          }
        }
      },
      "JobDownloadResponse": {
        "type": "object",
        "properties": {
          "status": {
            "description": "",
            "type": "string"
          },
          "url": {
            "description": "",
            "type": "string"
          }
        }
      },
      "SingleCheckResponse": {
        "type": "object",
        "properties": {
          "result": {
            "description": "",
            "type": "object",
            "properties": {
              "syntax": {
                "description": "",
                "type": "object"
              },
              "free": {
                "description": "",
                "type": "boolean"
              },
              "roleAccount": {
                "description": "",
                "type": "boolean"
              },
              "disposable": {
                "description": "",
                "type": "boolean"
              },
              "mx": {
                "description": "",
                "type": "object",
                "properties": {
                  "records": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "acceptsMail": {
                    "type": "boolean"
                  }
                }
              },
              "deliverability": {
                "type": "object",
                "properties": {
                  "canConnect": {
                    "type": "boolean"
                  },
                  "fullInbox": {
                    "type": "boolean"
                  },
                  "catchAll": {
                    "type": "boolean"
                  },
                  "deliverable": {
                    "type": "boolean"
                  },
                  "disabled": {
                    "type": "boolean"
                  }
                }
              },
              "reachable": {
                "type": "string"
              },
              "credits": {
                "type": "number"
              }
            }
          }
        }
      },
      "BatchRequest": {
        "required": [],
        "type": "object",
        "properties": {
          "emails": {
            "description": "",
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "BatchResponse": {
        "required": [],
        "type": "object",
        "properties": {
          "status": {
            "description": "",
            "type": "string"
          },
          "job_id": {
            "description": "",
            "type": "string"
          }
        }
      },
      "UnauthorizedResponse": {
        "required": [],
        "type": "object",
        "properties": {
          "message": {
            "description": "",
            "type": "string"
          }
        }
      },
      "BadRequestResponse": {
        "required": [],
        "type": "object",
        "properties": {
          "message": {
            "description": "",
            "type": "string"
          }
        }
      },
      "RateLimitErrorResponse": {
        "required": [],
        "type": "object",
        "properties": {
          "message": {
            "description": "",
            "type": "string"
          }
        }
      },
      "ValidationErrorResponse": {
        "required": [],
        "type": "object",
        "properties": {
          "message": {
            "description": "",
            "type": "string"
          }
        }
      },
      "InternalServerErrorResponse": {
        "required": [],
        "type": "object",
        "properties": {
          "message": {
            "description": "",
            "type": "string"
          }
        }
      },
      "NotFoundResponse": {
        "required": [],
        "type": "object",
        "properties": {
          "message": {
            "description": "",
            "type": "string"
          }
        }
      }
    },
    "responses": {
      "HttpErrorResponse": {
        "description": "Http Error Response",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "query",
        "name": "api_key"
      }
    }
  }
}