Конвертирую YAML в JSON в соответствии со спецификацией OpenAPI:

```json
{
  "openapi": "3.0.3",
  "info": {
    "title": "Proofy Api",
    "description": "Some text",
    "termsOfService": "https://proofy.io/terms",
    "contact": {
      "email": "support@proofy.io"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.proofy.io/v1"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Widget",
      "description": "Everything about JS Widget"
    },
    {
      "name": "Job",
      "description": "Everything about Jobs"
    },
    {
      "name": "Single Email",
      "description": "Single email check"
    },
    {
      "name": "Batch Emails",
      "description": "Batch emails check"
    }
  ],
  "paths": {
    "/check/single": {
      "get": {
        "tags": [
          "Single Email"
        ],
        "description": "Check a single email address",
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleCheckResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/HttpErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/HttpErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/HttpErrorResponse"
          },
          "422": {
            "$ref": "#/components/responses/HttpErrorResponse"
          },
          "429": {
            "$ref": "#/components/responses/HttpErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/HttpErrorResponse"
          }
        }
      }
    },
    "/check/batch": {
      "post": {
        "tags": [
          "Batch Emails"
        ],
        "description": "Check a batch email address",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/HttpErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/HttpErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/HttpErrorResponse"
          },
          "422": {
            "$ref": "#/components/responses/HttpErrorResponse"
          },
          "429": {
            "$ref": "#/components/responses/HttpErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/HttpErrorResponse"
          }
        }
      }
    },
    "/check/job/create": {
      "post": {
        "tags": [
          "Job"
        ],
        "description": "Create validation job",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JobCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobCreateResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/HttpErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/HttpErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/HttpErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/HttpErrorResponse"
          }
        }
      }
    },
    "/check/job/status": {
      "get": {
        "tags": [
          "Job"
        ],
        "description": "Check validation job status",
        "parameters": [
          {
            "name": "job_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobStatusResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/HttpErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/HttpErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/HttpErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/HttpErrorResponse"
          }
        }
      }
    },
    "/check/job/download": {
      "get": {
        "tags": [
          "Job"
        ],
        "description": "Download validation job result",
        "parameters": [
          {
            "name": "job_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobDownloadResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/HttpErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/HttpErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/HttpErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/HttpErrorResponse"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "JobCreateRequest": {
        "type": "object",
        "properties": {
          "file_url": {
            "type": "string"
          },
          "file_name": {
            "type": "string"
          }
        }
      },
      "JobCreateResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "job_id": {
            "type": "string"
          }
